# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules


my-pinned-app/react-frontend/node_modules/fsevents/build/Release/.deps/Users/Cheryl/Desktop/CSC198/Application/Pinned/my-pinned-app/react-frontend/node_modules/fsevents/lib/binding/Release/node-v59-darwin-x64



/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env